<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>

    <!--<add name="SERVERHOST1" providerName="System.Data.SqlClient" connectionString="Data Source=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=faturamento2;Data Source=DESKTOP-K9TLL9M\SQLEXPRESS;Pooling=True;Max Pool Size=10;" />
    <add name="SERVERHOST" providerName="System.Data.SqlClient" connectionString="Data Source=189.38.24.5;Initial Catalog=faturamento;Persist Security Info=True; MultipleActiveResultSets=True;User ID=leandro;Password=nota1000;Pooling=True;Max Pool Size=10;" />
    <add name="SERVERHOSTHOMOLOG" providerName="System.Data.SqlClient" connectionString="Data Source=189.38.24.5;Initial Catalog=faturamento2;Persist Security Info=True; MultipleActiveResultSets=True;User ID=leandro;Password=nota1000;Pooling=True;Max Pool Size=10;" />-->

    <add name="SERVERHOSTGLOBAIS" providerName="System.Data.SqlClient" connectionString="Data Source=189.38.24.5;Initial Catalog=faturamento2;Persist Security Info=True; MultipleActiveResultSets=True;User ID=leandro;Password=nota1000;Pooling=True;Max Pool Size=99999;" />
    <add name="SERVERPROJECTSCM" providerName="System.Data.SqlClient" connectionString="Data Source=mssql.sistemaviaweb.com.br;Initial Catalog=sistemaviaweb_notasSCM;Persist Security Info=True; MultipleActiveResultSets=True;User ID=sistemaviaweb;Password=7Xj7j@w2;Pooling=True;Max Pool Size=99999;" />
    <add name="SERVERPROJECTHELPERS" providerName="System.Data.SqlClient" connectionString="Data Source=mssql.sistemaviaweb.com.br;Initial Catalog=sistemaviaweb_helper;Persist Security Info=True; MultipleActiveResultSets=True;User ID=sistemaviaweb;Password=7Xj7j@w2;Pooling=True;Max Pool Size=99999;" />
    <add name="SERVERPROJECTNFENOTASFISCAIS" providerName="System.Data.SqlClient" connectionString="Data Source=mssql.sistemaviaweb.com.br;Initial Catalog=sistemaviaweb_notas;Persist Security Info=True; MultipleActiveResultSets=True;User ID=sistemaviaweb;Password=7Xj7j@w2;Pooling=True;Max Pool Size=99999;" />
    <add name="dbconnection" connectionString="Data Source=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AspMembership;Data Source=DESKTOP-K9TLL9M;Max Pool Size=99999;"/>

    <!--<add name="SERVERHOSTGLOBAIS" providerName="System.Data.SqlClient" connectionString="Data Source=mssql.sistemaviaweb.com.br;Initial Catalog=sistemaviaweb_globalcadastro;Persist Security Info=True; MultipleActiveResultSets=True;User ID=sistemaviaweb;Password=7Xj7j@w2;Pooling=True;Max Pool Size=99999;" />
    <add name="SERVERPROJECTSCM" providerName="System.Data.SqlClient" connectionString="Data Source=mssql.sistemaviaweb.com.br;Initial Catalog=sistemaviaweb_notasSCM;Persist Security Info=True; MultipleActiveResultSets=True;User ID=sistemaviaweb;Password=7Xj7j@w2;Pooling=True;Max Pool Size=99999;" />
    <add name="SERVERPROJECTHELPERS" providerName="System.Data.SqlClient" connectionString="Data Source=mssql.sistemaviaweb.com.br;Initial Catalog=sistemaviaweb_helper;Persist Security Info=True; MultipleActiveResultSets=True;User ID=sistemaviaweb;Password=7Xj7j@w2;Pooling=True;Max Pool Size=99999;" />
    <add name="SERVERPROJECTNFENOTASFISCAIS" providerName="System.Data.SqlClient" connectionString="Data Source=mssql.sistemaviaweb.com.br;Initial Catalog=sistemaviaweb_notas;Persist Security Info=True; MultipleActiveResultSets=True;User ID=sistemaviaweb;Password=7Xj7j@w2;Pooling=True;Max Pool Size=99999;" />
    <add name="dbconnection" connectionString="Data Source=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AspMembership;Data Source=DESKTOP-K9TLL9M"/>-->
  </connectionStrings>
</configuration>