    
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 30px 0px;background: #fff;float: left;">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="form-group">
            <label for="usu_nome" class="control-label mb-1">Nome</label>
            <div class="nk-int-st">
                <input id="usu_nome" placeholder="Nome Fantasia" name="cli_nomeFantasia" type="text" class="form-control obrigatorio">
            </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="form-group">
            <label for="usu_email" class="control-label mb-1">Email</label>
            <div class="nk-int-st">
                <input id="usu_email" placeholder="Email" name="usu_email" type="text" class="form-control obrigatorio">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="form-group">
            <label for="usu_telefone" class="control-label mb-1">Telefone</label>
            <div class="nk-int-st">
                <input id="usu_telefone" placeholder="Telefone" name="usu_telefone" type="text" class="form-control obrigatorio">
            </div>
        </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
        <div class="button-icon-btn mg-t-30 butt-mg-t-20">
            <button class="btn btn-gray gray-icon-notika btn-reco-mg btn-button-mg waves-effect" id="btnbuscadados"><i class="notika-icon notika-search"></i></button>
        </div>
    </div>

    <div id="viewPlaceHolder" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <b>Caregando Dados, Aguarde...</b><br /><br /><br />
        <img src="@Url.Content("~/images/carregando.gif")" style="width:120px" />
    </div>
</div>

@Html.Partial("~/Views/Usuarios/ModalAlterarSenha.cshtml")


<script type="text/javascript">
    $(document).ready(function () {

        $("#viewPlaceHolder").load("/Usuarios/CarregaListaUsuario", function () { Paginacao(); });

        $("#btnbuscadados").click(function () {
            $("#page-loader").fadeIn("slow");
            var parametro = "usu_nome=" + $("#usu_nome").val() + "&usu_email=" + $("#usu_email").val() + "&usu_telefone=" + $("#usu_telefone").val()
            $("#viewPlaceHolder").load("/Usuarios/CarregaListaUsuario?" + parametro, function () { Paginacao(); });
        })
    });
</script>
<script src="@Url.Content("~/Content/js/Projeto/Usuarios.js")"></script>
