@{
    var nomefantasia = "";
    if (Request["searchnamecliente"] != null && Request["searchnamecliente"] != "")
    {
        nomefantasia = Request["searchnamecliente"].ToString();
    }
}
<div class="col-12">
    <h5 class="col-sm-3">Buscar</h5>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="numeroticket" class="control-label mb-1">Nº Ticket</label>
            <input id="numeroticket" name="numeroticket" type="text" value="@nomefantasia" class="form-control obrigatorio">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="cliente" class="control-label mb-1">Cliente</label>
            <select id="cliente" name="cliente" class="form-control" data-placeholder="Selecionar Cliente" tabindex="1" required></select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="status" class="control-label mb-1">Staus</label>
            <select id="status" name="status" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="categoria" class="control-label mb-1">Categoria</label>
            <select id="categoria" name="categoria" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-info" id="btnbuscadados" style="margin-top:20px" type="button"><i class="fa fa-search"></i> Buscar</button>
    </div>
    <div class="col-sm-1">
        <a href="@Url.Content("~/Chamado/Ticket/Insert")" class="btn btn-success"  style="margin-top:20px"><i class="fa fa-search"></i> Novo</a>
    </div>
</div>

<div id="viewPlaceHolder" class="text-center">
    <b>Caregando Dados, Aguarde...</b><br /><br /><br />
    <img src="@Url.Content("~/images/carregando.gif")" style="width:120px" />
</div>


<script type="text/javascript">
    $(document).ready(function () {
        CarregarSelect("cliente", "CarregaClientes", null,
        function () {
            jQuery("#cliente").chosen({
                disable_search_threshold: 10,
                no_results_text: "Cliente não encontrada!",
                width: "100%"
            });
        });
        CarregarSelect("categoria", "CarregaChamadoCategoria");
        CarregarSelect("status", "CarregaChamadoStatus");


        $("#viewPlaceHolder").load("/Chamado/Ticket/CarregaListaTicket", function () { Paginacao(); });

        $("#btnbuscadados").click(function () {

            $("#page-loader").fadeIn("slow");
            var parametro = "cOs_numero=" + encodeURIComponent($("#numeroticket").val()) + "&cli_id=" + encodeURIComponent($("#cliente").val()) + "&cCa_id=" + $("#status").val() + "&cSt_id=" + $("#categoria").val();
            $("#viewPlaceHolder").load("/Clientes/CarregaListaTicket?" + parametro, function () { Paginacao(); });
        })
    });
</script>
