<div class="error-page-area">
    <div class="error-page-wrap">
        <i class="notika-icon notika-close"></i>
        <h2>ERROR <span class="counter">404</span></h2>
        <p>Desculpe, mas a página que você está procurando foi encontrada. Tente verificar o URL em busca de um erro e, em seguida, pressione o botão de atualização no seu navegador ou tente encontrar alguma outra coisa em nosso aplicativo.</p>
        <a href="@Request.UrlReferrer" class="btn">Voltar</a>
        <!--<a href="#" class="btn error-btn-mg">Report Problem</a>-->
    </div>
</div>