<div class="error-page-area">
    <div class="error-page-wrap">
        <i class="notika-icon notika-close"></i>
        <h2>ERROR <span class="counter">500</span></h2>
        <p>Desculpe, houve uma falha ao carregar a pagina solicitada, ja foi encaminhado um e-mail para o setor de suporte para verificar a falhar.</p>
        <a href="@Request.UrlReferrer" class="btn">Voltar</a>
        <!--<a href="#" class="btn error-btn-mg">Report Problem</a>-->
    </div>
</div>