<div class="modal fade" id="ModaLoading" role="dialog">
    <div id="circle">
        <div class="loader">
            
        </div>
        <div id="ModaLoadingDescricao" style="font-size: 20px;text-align: left;width: 500px;margin-left: -200px;text-align: center;margin-top: 20px;color: #fff;font-weight: bold;">
            Carregando Dados
        </div>
    </div> 
</div>