
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <style type="text/css">
        body{
            font-family: Arial
        }
        .myButton {
	        background-color:#44c767;
	        -moz-border-radius:0px;
	        -webkit-border-radius:0px;
	        border-radius:0px;
	        border:1px solid #18ab29;
	        display:inline-block;
	        cursor:pointer;
	        color:#ffffff;
	        font-family:Arial;
	        font-size:17px;
	        padding:16px 31px;
	        text-decoration:none;
	        text-shadow:0px 1px 0px #2f6627;
        }
        .myButton:hover {
	        background-color:#5cbf2a;
        }
        .myButton:active {
	        position:relative;
	        top:1px;
        }
    </style>
</head>
<body style="margin:0; padding:0; background-color:#fff;">
    <center>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#fff">
            <tr>
                <td colspan="2" align="center" valign="top" height="30px" style="background:#00407d; margin-bottom: 30px; border-bottom: 3px solid #B52121"></td>
            </tr>
            <tr>
                <td align="left" valign="top" height="30px">
                    <img src="//Logo//" style="margin: 30px;" />
                </td>
                <td align="right" valign="top" height="30px" style="padding: 30px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#fff">
                        <tr>
                            <td style="text-align: right;">Ticket Nº</td>
                        </tr>
                        <tr>
                            <td style="color:#B52121; font-size:22px; font-weight: bold;text-align: right;">//NumeroChamado//</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; font-size: 12px">Data: //DataChamado//</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" valign="top" height="3px" style="margin-bottom: 3px; border-bottom: 3px solid #c3c3c3"></td>
            </tr>
            <tr>
                <td colspan="2" style="color:#B52121; font-size:22px; font-weight: bold;text-align: center; padding:30px">//TituloEmailChamado//</td>
            </tr>
            <tr>
                <td colspan="2" style="color:#000; font-size:12px; font-weight: normal;text-align: left; padding: 30px">
                    <h3>Titulo: <b>//Titulochamado//</b></h3>
                    <h3>Status: <b>//StatusChamado//</b> Categoria: <b>//CategoriaChamado//</b></h3>
                    
                    <p style="font-weight:normal"><b>Descrição: </b><br />//DescricaoChamado//</p>
                    <p><img src="//QRCode//" style="max-height: 80px" /></p>
                    <div style="text-align:center; margin: 40px">
                        <a href="//LinkChamado//" class="myButton">Ver Ticket</a>
                    </div>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>