
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog" style="background: #fff;pointer-events: all;">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background: #428bca;padding: 20px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Dados do Pagamento.</h4>
            </div>
                <div class="modal-body text-left" style="padding: 20px;">
                    <div class="row">
                        <input type="hidden" id="baixamanualidcliente" />
                        <div class="col-lg-8 col-md-8 col-sm-8" style="padding-bottom: 10px;">
                            Nome <br />
                            <b id="nomepagadormodal"></b>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                            Forma de Pagamento <br />
                            <b id="formapagamentomodal"></b>
                            <select class='form-control' id='formapagamento'>
                                <option value=''>Selecione</option>
                                <option value='Deposito'>Deposito</option>
                                <option value='Transferencia'>Transferencia</option>
                            </select>
                        </div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            Data Vencimento <br />
                            <b id="datavencimentomodal"></b>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                            Data Liquitado <br />
                            <b id="dataliquitadomodal"></b>
                        </div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                            Valor do Título<br />
                            <b id="valortitulomodal"></b>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                            Juros<br />
                            <b id="jurosmodal"></b>
                            <input type='text' class='form-control money' value="0,00" id='jurosparamento' />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                            Total Pago<br />
                            <b id="totapagomodal"></b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            Comentarios<br />
                            <textarea style="resize:vertical;" class="form-control" placeholder="Comentarios..." rows="6" name="comentarios" id="comentarios" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;color:red" id="errocampos" >

                        </div>
                </div>
                <div class="panel-footer" style="margin-bottom:-14px;padding: 20px;">
                    <input type="button" class="btn btn-success" style="display:none" id="btnBaixaManual" value="Baixa Manual" />
                    <input type="button" class="btn btn-warning" style="display:none" id="btnSalvarComentarios" value="Salvar Comentario" />
                    <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Fechar</button>
                </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        
        $("#btnSalvarComentarios").click(function () {
            EnviarRequisicao("/Faturamento/RetornoBoletoBancoDadosComentario", { id: $("#baixamanualidcliente").val(), comentario: $("#comentarios").val() }, "GET", function (dados) {
                $('#contact').modal('hide');
            });
        })

        $("#btnBaixaManual").click(function () {
            if ($("#formapagamento").val() == "") {
                $("#errocampos").html('Campo Forma de Pagamento não pode ser em bnranco')
            }
            else if ($("#comentarios").val() == "") {
                $("#errocampos").html('Campo Comentário não pode ser em bnranco')
            }
            else {
                EnviarRequisicao("/Faturamento/BaixaManual", { id: $("#baixamanualidcliente").val(), comentario: $("#comentarios").val(), formapagamento: $("#formapagamento").val(), jurosparamento: $("#jurosparamento").val() }, "GET", function (dados) {
                    $('#contact').modal('hide');
                });
            }
        })

        $("#jurosparamento").focusout(function () {
            var valor = parseFloat($("#valortitulomodal").html().replace(' ', '').replace('R$', '').replace(' ', ''));
            var juros = parseFloat($(this).val().replace('R$', '').replace(".", "").replace(",", "."));
            valortotal = valor + juros;

            $("#totapagomodal").html('R$ ' + valortotal.toFixed(2))
        })
    });
</script>